*{
    font-family:Arial, Helvetica, sans-serif;
}
/* inizio header */
h1{
    display: inline;
}
/* fine header */

/* inizo main */
main{
    background-color: rgb(233, 244, 251);
}

.conteiner{
    width: 70%;
    margin: auto;
    margin-top: 70px;
}

.botton{
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.List{
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.botton_task{
    background-color: rgb(30, 157, 200);
    color: white;
    border: none;
    border-radius: 5%;
    text-align: center;
    padding: 5px 10px;
}

.botton_section{
    background-color: white;
    color: gray;
    border: 1px solid #e7e7e7;
    border-radius: 5%;
    text-align: center;
    padding: 5px 10px;
}

ul{
    margin: 30px 15px;
    list-style-type: none;
    line-height: 40px;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

/* utili */

.done::before{
    content: '\2705'
}

.not::before{
    content: '\274C'
}

.editorial{
    background-color: rgb(30, 157, 200);
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
}

/* fine utili */

.Q1{
    background-color: rgb(101, 9, 101);
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
}

.Recruiting{
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
}

.Mobile{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
}

.Website{
    background-color: rgb(206, 75, 141);
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
}

.Sales{
    background-color: rgb(83, 244, 83);
    color: white;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
}

/* fine main */